<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Garbage detection</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>

.hero {
    background: black url(static/images/logo1.png) center / cover;
}
    </style>

    <style>
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
    </style>

  </head>

    
<body>

<!-- .hero -->
<section class="hero is-fullheight" has-background-black>

    <section class="section">
        <div class="container" >
          <h1>
            <STRONG> GARBAGE DETECTION </strong>
         </h1>
         <p class="subsubtitle">
             BY <strong> bot-vedant </strong>
         </p>
        </div>   
        </section> 

        <div class="columns">
                <div class="column is-narrow">
                </div>


                <div class="column is-one-third has-text-centered">
                  <!-- <figure class="image is-1by1"> -->
                    <img class="pred_img" src="{{ url_for('send_file', filename=image_file_name)}}"/>
                  <!-- </figure> -->
                </div>
                <div class="column is-one-quarter" style="font-size:2.5rem" >
      
                        <h2 id ="pred" style="color:green">
                           <strong> </strong> <span style="font-weight: bold; color:rgb(51, 0, 255);">{{ label , complaint_id}}</span>
                        </h2>
            
                       
                        <br>
                        <a href="/" class="button is-black is-inverted is-outlined" style="background-color:black;color:white;width:150px;
                        height:40px;  " >Back to Home</a>
                        
                    </div>
            </div>    

    <section class="section">
            <div class="container">
            </div>   
            </section> 
        </section>
        <p id="location"></p>

<script>
  // Get the user's location
  navigator.geolocation.getCurrentPosition(function(position) {
    var lat = position.coords.latitude;
    var lng = position.coords.longitude;

    // Reverse geocode the user's location to get the address
    var geocoder = new google.maps.Geocoder();
    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        if (results[0]) {
          // Set the text of the location element to the user's address
          document.getElementById("location").innerHTML = "Your location: " + results[0].formatted_address;
        }
      }
    });
  });
</script>

<!-- /.hero -->

<script src="/static/script.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=&callback=initMap" async defer></script>

</body>
</html>
